@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.markdown-container {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.markdown-container h1,
.markdown-container h2,
.markdown-container h3 {
  margin-top: 1.5em;
}

.markdown-container p {
  margin: 1em 0;
}

/* src/index.css or global.css */

.prose code {
  @apply text-gray-400 block w-fit rounded;
}

.prose pre code {
  @apply !w-fit block  rounded;
}

/* src/index.css or global.css */

.json-key {
  color: #60a5fa; /* Tailwind blue-400 */
}

.json-value {
  color: #34d399; /* Tailwind green-400 */
}

.json-string {
  color: #fbbf24; /* Tailwind yellow-400 */
}

/* Add more styles as needed */
